body {
  background: url("https://c1.staticflickr.com/5/4304/35646793470_751eecbfdd_h.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #eeffcc;
  font-size: 23px; }

.container {
  background-color: #000;
  border: 5px white solid;
  color: #fff;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }

.spacer {
  padding: 3%; }
