$primaryColor: #eeffcc;

body {
  background-image: url("https://c1.staticflickr.com/5/4304/35646793470_751eecbfdd_h.jpg");
  background-size: cover;
  background-color: $primaryColor;
}


$myMargin: 0px auto;
$myColor: red;
$myWidth: 600px;

h1 {
	color: $myColor;
	$myMargin: $margin;
}
